<section class="experiencia container">
    <h1> <img src="./img/work_FILL0_wght400_GRAD0_opsz48.png" alt="">Experiencia Laboral.</h1>  
    <div class="listalaboral">
     <div class="exper">
       Vendedora (2020)
       <p>Rudas Chevrolet</p>
       <p><span>Ventas.</span></p>
     </div>
     <div class="exper">
       Call Center(2019)
       <p>V/N Global</p>
       <p><span>Sector Cobranza.</span></p>
     </div>
      <div class="exper">
        Administrativa (2018)
        <p>Frigorifico La Rural.SRL</p>
        <p><span>Tareas administrativas.</span></p>
      </div>
       <div class="exper">
         Administrativa (2016)
         <p>Banco de Formosa</p>
         <p><span>Tareas administrativas, Atencion al Cliente.</span></p>
       </div>
        <div class="exper">
          Vendedora (2014)
          <p>Zapateria Guapas</p>
          <p><span>Ventas.</span></p>
        </div>
        <div class="exper">
          Mecanica Dental (2013)
          <p>Laboratorio Mecanica Dental</p>
          <p><span>Trabajos en laboratorio.</span></p>
        </div>
        <div class="exper">
          Mecanica Dental (2011)
          <p>Clinica Abruzzo</p>
          <p><span>Trabajos en laboratorio de Mencanica Dental.</span></p>
        </div>
        <div class="exper">
          Consultorio Odontologico (2009)
          <p>Asistente</p>
          <p><span>Tareas administrativas, Atencion Al cliente.</span></p>
        </div>
    </div>
</section>
