<section class="titulo container"> 
    <h1>Silvana Amelin De Zan </h1>
    <div class="Infopersonal">
       <p><span>(Full Stack Developer Jr)</span></p>
    </div>
    <div class="card col-md-4">
       <div class="card-header"><strong>Sobre mi</strong> </div>
       <div class="card-body cuadro">
         <p class="card-text">Hola,quiero compartirles una breve reseña sobre mi, contarles que hace poco tiempo estoy explorando y viviendo el mundo de la programacion, arrenque en el año 2021 con Argentina Programa:#SeProgramar y hoy estoy transitando la segunda etapa #YoProgramo, donde me toca presentar mi Portfolio podran ver la primer web de las tantas que vendran. 
             Espero les guste. <br>
              Gracias.
         </p>
       </div>
     </div>
   </section>
