<section class="container" id="Informacion">
    <h1>Informacion personal</h1>
    <div class="row">
        <div class="info card col-12">
            <p> <img src="../../../assets/calendario.png" class ="img-fluid" alt="calendario"> <strong>Fecha de naciemiento:</strong>  18/07/1990</p>
            <p> <img src="../../../assets/celularweb.png" class ="img-fluid" alt="celular"> <strong>Telefono:</strong> 3704-601330</p>
            <p> <img src="../../../assets/sobre.png" class ="img-fluid" alt="Foto2"> <strong> Email:</strong> silvanaadeza@gmail.com</p>

        </div>
    </div>
  </section>
